:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-blue-dark: #191970;
  --clr-blue-light: #3f3fd4;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(
    180.16deg,
    var(--clr-black) 25%,
    var(--clr-blue-dark) 110%
  );
  color: var(--clr-white);
}
